@tailwind base;
@tailwind components;
@tailwind utilities;

/* 500 */
@font-face {
  font-family: "Cerebri Sans";
  font-style: normal;
  src: url("../public/Cerebri.Sans.Pro-www.Dfonts.org/Cerebri.Sans.Pro/CerebriSansPro-Medium.ttf")
    format("woff");
}

/* 700 */
@font-face {
  font-family: "Cerebri Sans bold";
  font-style: normal;
  src: url("../public/Cerebri.Sans.Pro-www.Dfonts.org/Cerebri.Sans.Pro/CerebriSansPro-Bold.ttf")
    format("woff");
}

/* 400 */
@font-face {
  font-family: "Cerebri Sans regular";
  font-style: normal;
  src: url("../public/Cerebri.Sans.Pro-www.Dfonts.org/Cerebri.Sans.Pro/CerebriSansPro-Regular.ttf")
    format("woff");
}

/* 600 */
@font-face {
  font-family: "Cerebri Sans semibold";
  font-style: normal;
  src: url("../public/Cerebri.Sans.Pro-www.Dfonts.org/Cerebri.Sans.Pro/CerebriSansPro-SemiBold.ttf")
    format("woff");
}
@font-face {
  font-family: "CerebriSansProMedium";
  font-style: normal;
  src: url("../public/Cerebri.Sans.Pro-www.Dfonts.org/Cerebri.Sans.Pro/CerebriSansPro-Medium.otf")
    format("woff");
}
.scrollbar::-webkit-scrollbar {
  width: 0px !important;
}
input:focus {
  outline: none;
}
.peer:focus {
  color: white;
  outline: none;
}
#range3 {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  cursor: pointer;
  outline: none;
  border-radius: 15px;
  height: 20px;
  height: 6px;
  background: #b6e7df;
}

#range3::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 20px;
  width: 20px;
  background-color: #3ebfab;
  background-size: cover;
  border-radius: 50%;
}

/* Thumb: Firefox */
#range3::-moz-range-thumb {
  height: 20px;
  width: 20px;
  background-color: #3ebfab;
  background-size: cover;
  border-radius: 50%;
}

.swal2-popup {
  border-radius: 0px !important;
}

.swal2-title {
  margin-top: 20px;
  font-family: "Cerebri Sans semibold";
}

/* .swal2-actions{
  padding-bottom: 20px;
} */
.swal2-html-container {
  font-family: "Cerebri Sans regular";
}

.swal2-styled {
  font-family: "Cerebri Sans regular";
  border-radius: 0px !important;
  border: 2px solid #3a9b5a !important;
  color: #3a9b5a !important;
}

.swal2-confirm {
  color: #fff !important;
  border: 2px solid #3a9b5a !important;
}

.css-1u9des2-indicatorSeparator {
  display: none !important;
}

.css-1xc3v61-indicatorContainer {
  padding: 0 8px 0 0 !important;
}

.css-1fdsijx-ValueContainer {
  padding: 2px 0 !important;
}
.settingbox .css-1fdsijx-ValueContainer {
  padding: 8px 0px 8px 8px !important;
  font-family: "Cerebri Sans regular";
}
.settingbox .css-8fj6w9-placeholder {
  font-size: 16px;
}
.chatDrawer {
  display: flex;
  position: relative;
  /* width: auto !important; */
  width: 330px !important;
}

.collectionDraw {
  height: calc(100vh - 94px) !important;
  top: 93px !important;
}

/* docs header css */
#header-bar {
  display: none;
}
#pdf-controls {
  padding: 15.59px;
  box-shadow: none;
  border-bottom: 1px solid #e8e9ea;
  background-color: #fff;
}

.iSVAnT {
  height: calc(100vh - 93px);
}
.hUujwO {
  height: calc(100vh - 93px);
}
.css-hlgwow {
  padding: 2px 0 !important;
}

.removemargin blockquote,
.removemargin dl,
.removemargin dd,
.removemargin h1,
.removemargin h2,
.removemargin h3,
.removemargin h4,
.removemargin h5,
.removemargin h6,
.removemargin hr,
.removemargin figure,
.removemargin p,
.removemargin pre {
  margin: revert !important;
}

.removemargin body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.removemargin table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 8px;
  /* overflow: hidden; */
  overflow-x: auto;
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
}
.removemargin th,
td {
  padding: 16px;
  text-align: left;
  border-bottom: 1px solid #e0e0e0;
  color: #333;
}
.removemargin th {
  background-color: #f8f8f8;
  font-weight: bold;
  /* text-transform: uppercase; */
  letter-spacing: 1px;
}
.removemargin tbody tr:nth-child(even) {
  background-color: #f4f4f4;
}
.removemargin tbody tr:hover {
  background-color: #e0e0e0;
}

.removemargin code {
  display: block;
  background-color: #f4f4f4;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  font-family: "Cerebri Sans regular";
  line-height: 1.5;
  overflow-x: auto;
  text-wrap: wrap;
}
.removemargin code span {
  display: block;
  color: #555;
}
.removemargin a {
  text-decoration: underline;
}
.css-1h9yxrx {
  padding: 0 !important;
}

@media (max-width: 500px) {
  .selectstyle {
    width: 220px;
  }
  .subtitle {
    width: 256px;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
@media (max-width: 700px) {
  .removemargin table {
    width: 150%;
    overflow-x: auto;
  }
}
@media (max-width: 1024px) {
  .collectpanel {
    display: block !important;
  }
}
